<!--Header Section-->

<header class="header">
    <a href="./index.ejs"> <img src="./png/logo.svg" alt="logo"> </a>
    <input type="checkbox" id="check" />
    <label for="check" class="menu-bar">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>
    <nav class="navbar">
      <a href="./index.ejs">Home</a>
      <a href="./views/about.ejs">About Us</a>
      <a href="./views/services.ejs">Services</a>
      <a href="./views/our_packages.ejs">Our Packages</a>
      <a href="./views/venu_page.ejs">Venue</a>
      <a href="./views/testimonials.ejs">Testimonials</a>
      <a href="./views/teaminfo.ejs">Our team</a>
      <a href="./views/contact.ejs">Contact</a>
    </nav>
  </header>

  <!--End Header Section-->