<%- include('partials/header.ejs') %>

<!--start team -->

<section class="team">
  <div class="team-title">
    <h1>Our Team</h1>
  </div>
  <div class="team-cards">
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-pra.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Prajyot Pathade</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-rohini.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Rohini Shinde</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-vb.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Vaishnavai Bakshi</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-chaitanya.jpeg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Chaitanya Jadhav</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-gauri.jpeg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Gauri Lipte</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-vd.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Vaishnavai Dethe</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/home-ak.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Akshay Kommu</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    <div class="team-card">
      <div class="team-img">
        <img src="/images/Rohan.jpg" alt="Image not Found" />
      </div>
      <div class="team-detail">
        <h3>Rohan Lokhande</h3>
        <a href="#"><i class="bx bxl-instagram s-icon"></a></i>
        <a href="#"><i class="bx bxl-linkedin s-icon"></a></i>
        <a href="#"><i class="bx bxl-github s-icon"></a></i>
        <p>Designer</p>
      </div>
    </div>
    
  </div>
</section>

<!--end team -->

<%- include('partials/footer.ejs') %>
