<%- include('partials/header.ejs') %>

      <section class="venu">
    <h2 class="heading">Venue</h2>
    <div class="venu-card">
    <div class="cards card">
    <img src="/images/venu_img_1.jpg" class="img-1" />
    <h2 class="hedding-1">Ahmednagar</h2>
    <p class="desc-1">Hundekari Lawns Ahmednagar</p>
    <button class="button-1">More Info</button>
    </div>

    <div class="cards card">
        <img src="/images/venu_img_2.jpg" class="img-1" />
        <h2 class="hedding-1">Alibaug</h2>
    <p class="desc-1">Radisson Blu Resort and Spa</p>
    <button class="button-1">More Info</button>
    </div>

    <div class="cards card">
        <img src="/images/venu_img_3.jpg" class="img-1" />
        <h2 class="hedding-1">Lgatpuri Mumbai</h2>
        <p class="desc-1">Rainforest Resort,Lgatpuri</p>
        <button class="button-1">More Info</button>
    </div>

    <div class="cards card">
        <img src="/images/venu_img_4.jpg" class="img-1" />
        <h2 class="hedding-1">Aurangabed</h2>
        <p class="desc-1">Spree hotel aurangabad is a banguest hall</p>
        <button class="button-1">More Info</button>
    </div>
    <div class="cards card">
        <img src="/images/venu_img_5.jpg" class="img-1" />
        <h2 class="hedding-1">Banglore</h2>
        <p class="desc-1"> Le Roma Gardenia Banglore</p>
        <button class="button-1">More Info</button>
    </div>
    <div class="cards card">
        <img src="/images/venu_img_6.jpg" class="img-1" />
        <h2 class="hedding-1">Kolkata</h2>
        <p class="desc-1">The Lalit Great Eastern kolkata</p>
        <button class="button-1">More Info</button>
    </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>